.compare-cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
    position: relative;
}

.compare-input {
    cursor: pointer;
    padding: 5px;
    width: 25vw;
    height: 2rem;
    border: 3px solid #fff;
    color: #34495e;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.3);
    outline: none;   
    z-index: 100;
}

.remove-icon{
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: .5rem;
    font-size: 20px;
    color: #fff;
    z-index: 150;
}

.compare-hints {
    padding-top: 5px;
    position: absolute;
    top: 3.4rem;
    z-index: 1;
    pointer-events: auto;
    width: 25vw;
    max-height: 150px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.compare-hints > ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.compare-hints > ul > li{
    text-align: start;
    list-style: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1;
    color: #34495e;
  }
  
  .compare-hints > li{
    display: block;
  }

  .compare-hints li:hover, 
  .compare-hints li.selected {
    background: #efefef;
  }
