.compare-cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: .5rem;
    position: relative;
}

.compare-input {
    cursor: pointer;
    padding: 5px;
    width: 8vw;
    height: 2rem;
    border: 1px solid #34495e;
    color: #34495e;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.3);
    outline: none;
}

.remove-icon, .add-icon{
    position: absolute;
    top: .8rem;
    right: .9rem;
    font-size: 20px;
    color: #fff;
    transition: .2s;
    z-index: 2;
}