/* ------------------- */
/*      main content   */
/* ------------------- */

@media (min-width: 1201px) {
    .container {
        height: 100vh;
    }

    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .descr, .compare {
        text-align: start;
        max-width: 30vw;
        padding-inline: 1rem;
        margin-bottom: 2rem;
    }

    .title-score {
        justify-content: start;
    }

    .descr > p {
        max-height: 25vh;
        overflow-y: scroll;
    }

    .descr > p, .compare > p {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .icon, .icon2 {
        float: left;
        position: relative;
        top: 1rem;
        margin: 0 2rem 1.5rem 0;
    }

}

@media (min-width: 1024px) and (max-width: 1200px)  {

    h1 {
        font-size: 3rem;
    }
    .container {
        height: 100vh;
    }

    .navbar {
        font-size: small;
    }

    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .descr, .compare {
        text-align: start;
        max-width: 30vw;
        padding-inline: 1rem;
        margin-bottom: 2rem;
    }


    .descr h2, .compare h2 {
        line-height: 1.5;
    }


    .descr > p, .compare > p {
        line-height: 1rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .icon, .icon2 {
        display: none;
    }
    


}


/* ------------------- */
/*      search bar     */
/* ------------------- */


@media (min-width: 769px) {

    .descr > p, .compare > p {
        line-height: 2rem;
        margin-top: 2rem;
    }

     .active {
        width: 20vw;
    }

    .results {
        width: 20vw;
    }
}


/* ------------------- */
/*      divider        */
/* ------------------- */

@media (min-width: 1024px) {

    .divider span {
        display: none;
    }
    
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10vw; 
        position: relative; 
        margin: 0 0 0 3rem !important;
    }
        
    .divider .dividermask { 
          overflow: hidden; 
          width: 2vw; 
          height: 40vh; 
     }
    
    .divider .dividermask:after { 
          content: ''; 
          display: block; 
          margin-left: -1.25rem;
          width: 1.25rem; 
          height: 100%;  
          border-radius: 0.7rem / 7.8rem;  
          box-shadow: 0 0 8px black;
    }

}

