/* ------------------- */
/*      main content   */
/* ------------------- */

@media (min-width: 1024px) {
    .container {
        height: 100vh;
    }

    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .descr, .compare {
        text-align: start;
        max-width: 30vw;
        padding-inline: 0;
        margin-bottom: 2rem;
    }

    .title-score {
        justify-content: start;
    }

    .descr-title, .compare-title {
        padding-inline: 0;
    }

    .descr-p, .compare-p {
        padding-bottom: 1rem;
        padding-inline: 0;
    }

    .chart-container-visible {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        width: 40vw;
        height: 40vh;
        padding-top: 2rem;
    }

}

@media (min-width: 1024px) and (max-width: 1200px)  {

    .icon, .icon2 {
        display: none;
    }

}

@media (min-width: 1201px) {

    .descr > p {
        max-height: 25vh;
        /* overflow-y: scroll; */
    }

    .icon, .icon2 {
        float: left;
        position: relative;
    }

    .icon {
        margin: 0 2rem 1rem 0;
    }

    .icon2 {
        margin: 0 2rem .5rem 0;
    }

}


/* ------------------- */
/*      divider        */
/* ------------------- */

@media (min-width: 1024px) {

    .divider span {
        display: none;
    }
    
    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 10vw; 
        position: relative; 
        margin: 0 0 0 3rem !important;
    }
        
    .divider .dividermask { 
          overflow: hidden; 
          width: 2vw; 
          height: 40vh; 
     }
    
    .divider .dividermask:after { 
          content: ''; 
          display: block; 
          margin-left: -1.25rem;
          width: 1.25rem; 
          height: 100%;  
          border-radius: 0.7rem / 7.8rem;  
          box-shadow: 0 0 8px black;
    }

}

