
     .divider {
        margin: 5rem auto;
        width: 60vw; 
        position: relative;
      }
      
      .dividermask { 
          overflow: hidden; 
          height: 1.25rem; 
      }
      
      .dividermask:after { 
            content: ''; 
            display: block; 
            margin: -1.5rem auto 0;
            width: 100%; 
            height: 1.5rem;  
            border-radius: 7.8rem 0.7rem;
            box-shadow: 0 0 8px #34495e;
      }

      .divider span {
          width: 3rem; 
          height: 3rem; 
          position: absolute; 
          bottom: 100%; 
          margin-bottom: -1.5rem;
          left: 50%; 
          margin-left: -1.5rem;
          border-radius: 100%;
          box-shadow: 0 2px 4px #34495e;
          background: #fff;
      }

      .divider i {
          position: absolute;
          top: 4px; 
          bottom: 4px;
          left: 4px; 
          right: 4px;
          border-radius: 100%;
          text-align: center;
          line-height: 40px;
          font-style: normal;
          color: #34495e;
      }