
/* ------------------- */
/*     footer          */
/* ------------------- */

footer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34495e;
    border: 1px solid #34495e;
    margin-top: auto;
}

footer > a {
    color: #718daa;
}