/* ------------------- */
/*      header         */
/* ------------------- */

header {
    background-image: url("../imgs/skyline5.jpg"); 
    background-position: center;
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

header > h1 {
    z-index: 1;
    padding: 1rem;
}