/* ----------------------- */
/*         Reset           */
/* ----------------------- */


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

h1 {
    font-size: 7.9vh;
}

h2 {
    font-size: 4vh;
}

p {
    font-size: 2vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------- */
/*      header         */
/* ------------------- */

header {
    background-image: url("../imgs/skyline5.jpg"); /* scaricare immagini hd */
    background-position: center;
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

header > h1 {
    z-index: 1;
    padding: 1rem;

}


/* ------------------- */
/*      main content   */
/* ------------------- */

.main {
    flex: 1;
    text-align: start;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    color: #34495e;
    padding-inline: 2rem;
}

.descr, .classifica {
    padding: 2rem;
}

.descr > h2 {
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.descr > p {
    line-height: 1.5rem;
}

.classifica {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.box1 {
    background-color: red;
    height: 100px;
    width: 100px;
}

.box2 {
    background-color: green;
    height: 300px;
    width: 300px;
}

.box3 {
    background-color: yellow;
    height: 200px;
    width: 200px;

}

