/* ----------------------- */
/*         Reset           */
/* ----------------------- */


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

h1 {
    font-size: 7.9vh;
}

h2 {
    font-size: 4vh;
}

p {
    font-size: 2vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------- */
/*      header         */
/* ------------------- */

header {
    background-image: url("../imgs/skyline5.jpg"); /* scaricare immagini hd */
    background-position: center;
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

header > h1 {
    z-index: 1;
    padding: 1rem;

}


/* ------------------- */
/*      main content   */
/* ------------------- */

.main {
    flex: 1;
    text-align: start;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    color: #34495e;
    padding-inline: 2rem;
}

.descr, .classifica {
    padding: 2rem;
}

.descr > h2 {
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.descr > p {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.classifica {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;

}

.title h2 {
    text-transform: uppercase;
} 

.top-3 {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr;

    height: min(40vh, 20rem);
    min-width: 100%;

}


.box1, .box2, .box3 {
    margin: 1rem;
    border-radius: 20px;
    width: min(25vw, 10rem);
    height: min(15vh, 7rem);
}

.box1 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #34495e;
    
}

.box2 {
    grid-column: 3/4;
    background-color: #34495e;
    
    border-radius: 20px;
}

.box3 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #34495e;
    
}

