/* ----------------------- */
/*         Reset           */
/* ----------------------- */


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

header {
    background-image: url("../imgs/skyline1.avif"); // scaricare immagini hd
    background-position: 0fr;
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

h1, h2, p {
    z-index: 1;
}

h1 {
    font-size: 7rem;
    
}