/* ----------------------- */
/*         Reset           */
/* ----------------------- */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

h1 {
    font-size: 7.5vh;
}

h2 {
    font-size: 3vh;
}

p {
    font-size: 1.7vh;
}

.container {
    display: flex;
    flex-direction: column;
}


/* ------------------- */
/*      main content   */
/* ------------------- */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #34495e;
    padding-inline: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

/* descr section  */

.descr {
    text-align: center;
}

.title-score {
    display: flex;
    align-items: center;
    justify-content: center;
}


.descr-title {
    line-height: 3rem;
    padding-inline: 5vw;
}

.city-details {
    padding-block: 1rem;
}

.descr-p {
    padding: 1.5rem 5vw 2rem;
    line-height: 2rem;
}

.global-score-visible {
    aspect-ratio: 1;
    width: 5vh;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid #34495e;
    border-radius: 50%;
    color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}

/* compare section */

.compare {
    text-align: center;
}

.compare-title {
    padding-inline: 5vw;
}

.compare-p {
    line-height: 2rem;
    padding: 1.5rem 5vw 8rem;
}

.icon {
    width: 12vh;
    margin: 1rem;
}

.icon2 {
    width: 10vh;
    margin: 1rem;
}

.top-compare-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 3rem;
}

.chart-container-visible {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

