/* ----------------------- */
/*         Reset           */
/* ----------------------- */


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

h1 {
    font-size: 7.5vh;
}

h2 {
    font-size: 3.5vh;
}

p {
    font-size: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
}


/* ------------------- */
/*      main content   */
/* ------------------- */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #34495e;
    padding-inline: 2rem;
}

/* descr section  */

.descr {
    text-align: center;
    padding-inline: 15vw;
    padding-top: 3rem;
}

.title-score {
    display: flex;
    align-items: center;
    justify-content: center;
}


.descr > h2 {
    margin-block: 1.5rem;
    line-height: 3rem;
}

.descr > h3 {
    padding-bottom: 1rem;
}

.descr > p {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.global-score {
    width: 6vh;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid #34495e;
    border-radius: 50%;
    aspect-ratio: 1;
    color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}

/* compare section */

.compare > p {
    line-height: 1.5rem;
    padding-bottom: 8rem;
}

.compare {
    text-align: center;
    padding-inline: 15vw;
}

.compare h2 {
    margin-bottom: 1.5rem;
}

.icon {
    width: 12vh;
    margin: 1rem;
}

.icon2 {
    width: 10vh;
    margin-block: 2.5rem 3rem;
}
