/* ----------------------- */
/*         Reset           */
/* ----------------------- */


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- */
/*      General        */
/* ------------------- */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(230, 227, 227);
    color: white;
}

h1 {
    font-size: 7.9vh;
}

h2 {
    font-size: 4vh;
}

p {
    font-size: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
}


/* ------------------- */
/*      main content   */
/* ------------------- */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #34495e;
    padding-inline: 2rem;
}

.descr {
    text-align: center;
    padding-inline: 15vw;
    padding-top: 3rem;
}


.descr > h2 {
    margin-block: 1.5rem;
    line-height: 2.5rem;
}

.descr > p {
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.classifica {
    /* padding-block: 2rem; */
    padding-bottom: 3rem;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;

}

.title h2 {
    text-decoration: underline;
    padding-bottom: 3rem;
} 

.top-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}


.box1, .box2, .box3 {
    margin: 1rem;
    border-radius: 20px;
    width: min(30vw, 10rem);
    height: min(15vh, 6rem);
    background-color: #34495e;
}

.box1 {
    grid-row: 2/3;
    grid-column: 1/2;
    
}

.box2 {
    grid-column: 2/3;    
    border-radius: 20px;
}

.box3 {
    grid-row: 3/4;
    grid-column: 2/3;    
}

