/* ------------------- */
/*      main content   */
/* ------------------- */

@media (min-width: 750px) {

    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .descr {
        max-width: 30vw;
    }

    .descr>p {
        line-height: 2.3rem;
        margin-top: 2rem;
    }

    .top-3 {
        height: auto;
    }
}


/* ------------------- */
/*      search bar     */
/* ------------------- */


@media (min-width: 750px) {
    .search:hover input {
        max-width: 20vw;
    }

    .active {
        width: 20vw;
    }
}

/* ------------------- */
/*      main content   */
/* ------------------- */

@media (min-width: 750px) {
    .top-3 {
        min-width: 30vw;
    }
}