
/* ------------------- */
/*      main content   */
/* ------------------- */

@media (min-width: 750px) {
    
    .main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .descr {
        max-width: 50vw;
    }
    
    .descr > p {
        line-height: 2.3rem;
        max-width: 70%;
        margin-top: 2rem;
    }
}

