/* ------------------- */
/*      search-bar     */
/* ------------------- */
.search {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    z-index: 2;
}

.search-bar {
    position: relative;
}


.input {
    cursor: pointer;
    padding: 10px;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 3px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #34495e;
    outline: none;
    transition: .5s;
    z-index: 2;
}

.active {
    width: 25vw;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    transition: .5s;
}


.search i{
    position: absolute;
    top: .8rem;
    right: .9rem;
    font-size: 20px;
    color: #fff;
    transition: .2s;
    z-index: 2;
}

.input:hover i,
.input:focus i{
    color: #34495e;
    cursor: pointer;
    z-index: 10;
}

.results {
    padding-top: 5px;
    position: absolute;
    top: 2.7rem;
    z-index: -1;
    pointer-events: auto;
    width: 25vw;
    max-height: 200px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.results ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.results > ul > li{
    text-align: start;
    list-style: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1;
    color: #34495e;
  }
  
  .results li{
    display: block;
  }

  .results li:hover{
    background: #efefef;
  }

  /* custom results scrollbar  */

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.781);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #34495e;
    border-radius: 10px;
  }