/* ------------------- */
/*      search-bar     */
/* ------------------- */
.search {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    z-index: 1;
}

.search-bar {
    position: relative;
}


.input {
    cursor: pointer;
    padding: 10px;
    width: 3rem;
    height: 3rem;
    background: none;
    border: 3px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #34495e;
    outline: none;
    transition: .5s;
}


.active {
    width: 25vw;
    background: #fff;
    border-radius: 10px;
    transition: .5s;
}


.search i{
    position: absolute;
    top: .8rem;
    right: .9rem;
    font-size: 20px;
    color: #fff;
    transition: .2s;
    z-index: 2;
}

.active i{
    opacity: 0;
    z-index: -1;
}

.results {
    z-index: 1;
}

.results li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-bar.active .results li{
    display: block;
  }

  .search-bar.active .results{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }

  .results li:hover{
    background: #efefef;
  }